*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.main-container {
  width: 100vw;
  height: 100vh;
}

.name-container,
.theme-container,
.quiz-container,
.results-container {
}

.view-container {
  display: none;
}

#name-input-field {
  font-size: 48px;
  padding: 10px;
  border-radius: 10px;
}

#name-input-button {
  font-size: 48px;
  padding: 10px;
  border-radius: 10px;
}

.answer-check-label {
}

span.correct {
  color: #fff;
  background-color: green;
  padding: 10px 20px;
  border-radius: 30px;
}

span.incorrect {
  color: #fff;
  background-color: red;
  padding: 10px 20px;
  border-radius: 30px;
}

.hidden {
  display: none !important;
}

.next-question-button {
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  color: black;
  display: inline-block;
  top: 55%;
  z-index: 3;
}

.active {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#name-display {
  position: absolute;
  top: 0;
  z-index: 9;
  color: #fff;
  font-size: 48px;
}

.theme-music-container,
.theme-christmas-container,
.theme-movies-container,
.theme-geography-container {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.theme-music-container::before,
.theme-christmas-container::before,
.theme-movies-container::before,
.theme-geography-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease;
  z-index: -1;
}

.theme-music-container::before {
  background-image: url("/images/theme-music.jpg");
}

.theme-christmas-container::before {
  background-image: url("/images/theme-christmas.jpg");
}

.theme-movies-container::before {
  background-image: url("/images/theme-movies.webp");
}

.theme-geography-container::before {
  background-image: url("/images/theme-geography.jpg");
}

/* Hover effect - scale the pseudo-element */
.theme-music-container:hover::before,
.theme-christmas-container:hover::before,
.theme-movies-container:hover::before,
.theme-geography-container:hover::before {
  transform: scale(1.1);
}

#theme-music,
#theme-movies,
#theme-geography,
#theme-christmas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  background-size: cover;
  font-size: 40px;
  color: #fff;
  background: #00000085;
  cursor: pointer;
  border: none;
}

.question-text {
  position: absolute;
  font-size: 38px;
  background-color: #2f2f2f;
  border-radius: 30px;
  padding: 10px 30px;
  color: #fff;
  z-index: 3;
}

.next-question-button {
  position: absolute;
  background-color: #2f2f2f;
  border-radius: 30px;
  padding: 10px 30px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.next-question-button:hover {
  background-color: #5e5d5d;
}

.next-question-button::before {
  content: "Temporary :)";
  position: absolute;
  top: 0px;
  left: -18px;
  font-size: 10px;
  color: black;
  background-color: red;
  border-radius: 10px;
  padding: 2px 5px;
  transform: rotate(-24deg);
}

.answer-button {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  position: relative;
  z-index: 2;
}

.answer-button:not(:disabled):hover {
  font-size: 40px;
}

.answer-button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  filter: blur(5px);
}

.answer-button:nth-of-type(2) {
  background-color: #1b4d3e;

  color: #fff;
}
.answer-button:nth-of-type(3) {
  background-color: #f8f9fa;
  color: #000;
}
.answer-button:nth-of-type(4) {
  background-color: #d4af37;
  color: #fff;
}

.answer-button:nth-of-type(5) {
  background-color: #c41e3a;
  color: #fff;
}

.answer-button:nth-of-type(2)::before {
  content: "A";
  position: absolute;
  font-size: 200px;
  z-index: -1;
  opacity: 0.1;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.answer-button:nth-of-type(3)::before {
  content: "C";
  position: absolute;
  font-size: 200px;
  z-index: -1;
  opacity: 0.1;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.answer-button:nth-of-type(4)::before {
  content: "B";
  position: absolute;
  font-size: 200px;
  z-index: -1;
  opacity: 0.1;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-button:nth-of-type(5)::before {
  content: "D";
  position: absolute;
  font-size: 200px;
  z-index: -1;
  opacity: 0.1;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-check-text {
  position: absolute;
  top: 40%;
  font-size: 38px;
  z-index: 3;
}

.answer-check-text {
  animation: scaleInBounce 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.question-image-container {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 30%;
  z-index: 3;
  border-radius: 50%;
}

@keyframes scaleInBounce {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* Back to main meny knapp */
.back-to-main-button {
  display: block;
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 10px;
  font-size: 32px;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.back-to-main-button:hover {
  transform: scale(115%);
  transition: 0.05s;
  color: rgb(218, 115, 115);
}